<?xml version='1.0' encoding='utf-8'?>
<widget id="com.guerra.sobreelagua" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Guerra Sobre el Agua</name>
    <content src="index.html" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="Orientation" value="landscape" />
</widget>
